<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ADMIN | Trang chủ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link rel="stylesheet" th:href="@{/admin/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/templatemo-style.css}">
    <style>
        #for-show-chat p {
            border-bottom: 1px solid #4e657a;
            color: white;
        }
    </style>
</head>
<body>
<nav th:replace="admin/layout::nav"></nav>
<!-------------------------------------------------------------------------------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-white mt-5 mb-5">Tin nhắn từ khách hàng</b></p>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <h2 class="tm-block-title">Khách hàng</h2>
                <div class="tm-notification-items">
                    <div class="media tm-notification-item" th:each="room:${rooms}">
                        <table>
                            <tr>
                                <th>
                                    <button class="btn btn-primary button-show-message" th:id="${room.id}">Xem</button>
                                </th>
                                <td><strong th:text="${room.appUser==null?'Ẩn danh':room.appUser.name}"></strong>
                                    <span th:text="${' | Room chat ID: '+room.id}"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <div class="tm-notification-items" id="for-show-chat">
                </div>
                <form class="row" id="form-send-message">
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <input type="text" class="form-control" id="message" placeholder="Nhập tin nhắn ...">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <button type="submit" class="btn btn-primary">Gửi tin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved.

            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
    </div>
</footer>
</div>
<!-------------------------------------------------------------------------------------------------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/user/lib/easing/easing.min.js}"></script>
<script th:src="@{/user/lib/slick/slick.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>
<script th:src="@{/js/chat-admin.js}"></script>
<script th:src="@{/js/sockjs.js}"></script>
<script th:src="@{/js/stomp.js}"></script>
</body>
</html>